
*.nupkg
Core/bin/Debug/net6.0/lib-core.deps.json
Core/bin/Debug/net6.0/lib-core.dll
Core/bin/Debug/net6.0/lib-core.pdb
Core/bin/publish/lib-core.deps.json
Core/bin/publish/lib-core.dll
Core/bin/publish/lib-core.pdb
Core/bin/Release/net6.0/lib-core.deps.json
Core/bin/Release/net6.0/lib-core.dll
Core/bin/Release/net6.0/lib-core.pdb
Core/bin/Release/net6.0/win-x64/lib-core.deps.json
Core/bin/Release/net6.0/win-x64/lib-core.dll
Core/bin/Release/net6.0/win-x64/lib-core.pdb
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Core.csproj.nuget.g.targets
Core/obj/Debug/lib-core.1.0.0.nuspec
Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/obj/Debug/net6.0/Core.AssemblyInfo.cs
Core/obj/Debug/net6.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/net6.0/Core.assets.cache
Core/obj/Debug/net6.0/Core.csproj.BuildWithSkipAnalyzers
Core/obj/Debug/net6.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Debug/net6.0/Core.csproj.FileListAbsolute.txt
Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Debug/net6.0/Core.GlobalUsings.g.cs
Core/obj/Debug/net6.0/lib-core.dll
Core/obj/Debug/net6.0/lib-core.pdb
Core/obj/Debug/net6.0/ref/lib-core.dll
Core/obj/Debug/net6.0/refint/lib-core.dll
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Core/obj/publish/win-x64/Core.csproj.nuget.dgspec.json
Core/obj/publish/win-x64/Core.csproj.nuget.g.props
Core/obj/publish/win-x64/Core.csproj.nuget.g.targets
Core/obj/publish/win-x64/project.assets.json
Core/obj/publish/win-x64/project.nuget.cache
Core/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/obj/Release/net6.0/Core.AssemblyInfo.cs
Core/obj/Release/net6.0/Core.AssemblyInfoInputs.cache
Core/obj/Release/net6.0/Core.assets.cache
Core/obj/Release/net6.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Release/net6.0/Core.csproj.FileListAbsolute.txt
Core/obj/Release/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Release/net6.0/Core.GlobalUsings.g.cs
Core/obj/Release/net6.0/lib-core.dll
Core/obj/Release/net6.0/lib-core.pdb
Core/obj/Release/net6.0/PublishOutputs.e2702eeb8a.txt
Core/obj/Release/net6.0/ref/lib-core.dll
Core/obj/Release/net6.0/refint/lib-core.dll
Core/obj/Release/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/obj/Release/net6.0/win-x64/Core.AssemblyInfo.cs
Core/obj/Release/net6.0/win-x64/Core.AssemblyInfoInputs.cache
Core/obj/Release/net6.0/win-x64/Core.assets.cache
Core/obj/Release/net6.0/win-x64/Core.csproj.CoreCompileInputs.cache
Core/obj/Release/net6.0/win-x64/Core.csproj.FileListAbsolute.txt
Core/obj/Release/net6.0/win-x64/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Release/net6.0/win-x64/Core.GlobalUsings.g.cs
Core/obj/Release/net6.0/win-x64/lib-core.dll
Core/obj/Release/net6.0/win-x64/lib-core.pdb
Core/obj/Release/net6.0/win-x64/PublishOutputs.e2702eeb8a.txt
Core/obj/Release/net6.0/win-x64/ref/lib-core.dll
Core/obj/Release/net6.0/win-x64/refint/lib-core.dll
Core/obj/Release/ZiloBase32Encoding.1.0.0.nuspec
Tester/bin/Debug/net6.0/lib-core.dll
Tester/bin/Debug/net6.0/lib-core.pdb
Tester/bin/Debug/net6.0/tester.deps.json
Tester/bin/Debug/net6.0/tester.dll
Tester/bin/Debug/net6.0/tester.exe
Tester/bin/Debug/net6.0/tester.pdb
Tester/bin/Debug/net6.0/tester.runtimeconfig.json
Tester/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tester/obj/Debug/net6.0/apphost.exe
Tester/obj/Debug/net6.0/ref/tester.dll
Tester/obj/Debug/net6.0/refint/tester.dll
Tester/obj/Debug/net6.0/Tester.AssemblyInfo.cs
Tester/obj/Debug/net6.0/Tester.AssemblyInfoInputs.cache
Tester/obj/Debug/net6.0/Tester.assets.cache
Tester/obj/Debug/net6.0/Tester.csproj.AssemblyReference.cache
Tester/obj/Debug/net6.0/Tester.csproj.BuildWithSkipAnalyzers
Tester/obj/Debug/net6.0/Tester.csproj.CopyComplete
Tester/obj/Debug/net6.0/Tester.csproj.CoreCompileInputs.cache
Tester/obj/Debug/net6.0/Tester.csproj.FileListAbsolute.txt
Tester/obj/Debug/net6.0/tester.dll
Tester/obj/Debug/net6.0/Tester.GeneratedMSBuildEditorConfig.editorconfig
Tester/obj/Debug/net6.0/Tester.genruntimeconfig.cache
Tester/obj/Debug/net6.0/Tester.GlobalUsings.g.cs
Tester/obj/Debug/net6.0/tester.pdb
Tester/obj/project.assets.json
Tester/obj/project.nuget.cache
Tester/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tester/obj/Release/net6.0/Tester.AssemblyInfo.cs
Tester/obj/Release/net6.0/Tester.AssemblyInfoInputs.cache
Tester/obj/Release/net6.0/Tester.assets.cache
Tester/obj/Release/net6.0/Tester.GeneratedMSBuildEditorConfig.editorconfig
Tester/obj/Release/net6.0/Tester.GlobalUsings.g.cs
Tester/obj/Tester.csproj.nuget.dgspec.json
Tester/obj/Tester.csproj.nuget.g.props
Tester/obj/Tester.csproj.nuget.g.targets
